h1 #{@title}

h3 Name: #{:name}
br
h3 Leader: #{:leader}
br
h3 Email: #{:email}
br
h3 Phone: #{:phone}
br
h3 Address: #{:address}
br
h3 Location: #{:location}
br
h3 Requested dates: #{:requested_dates}
br
h3 Expected no of attendees: #{:expected_attendees}
br
h3 Other speaker: #{:other_speaker}
br
h3 Message: #{:cindy_help}

/h1 @invite

/- for @invite in a do
/		p #{a}